.servicesContainer {
  background: var(--gradient-bg4);
  display: flex;
  justify-content: center;
  min-height: 120dvh;
}
.servicesContainerMain {
  width: 85%;
}
.servicesInfo h1 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 60px;
  color: var(--color-text);
}
.servicesInfo p {
  margin-top: 35px;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-text2);
}

.blockHead1,
.blockHead2,
.blockHead3,
.blockHead4 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
  color: var(--color-text);
}
.blockInfo1,
.blockInfo4 {
  margin-top: 35px;
  margin-bottom: 5vh;
  font-size: 22px;
  width: 90%;
  color: var(--color-text);
}
.blockInfo2,
.blockInfo3 {
  width: 90%;
  margin-bottom: 5vh;
  margin-top: 35px;
  font-size: 22px;
  color: var(--color-text);
}
.service_line {
  border: none;
  height: 2px;
  background-color: rgb(197, 194, 194);
}
@media (min-width: 1025px) and (max-width: 1581px) {
  .servicesContainerMain {
    width: 85%;
  }
  .servicesContainer {
    min-height: 140vh;
    width: 100%;
  }
  .blockHead1,
  .blockHead2,
  .blockHead3,
  .blockHead4 {
    font-size: 26px;
    color: var(--color-text);
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    margin-top: 10px;
    font-size: 20px;
    color: var(--color-text);
  }
  .servicesBlock2 {
    min-height: 20vh;
  }
  .servicesBlock1 {
    min-height: 10vh;
  }
  .servicesBlock4 {
    min-height: 20vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .servicesContainerMain {
    min-height: 150vh;
    width: 90%;
  }

  .servicesContainer {
    background: var(--gradient-bg4);
    min-height: 150vh;
  }
  .blockInfo1,
  .blockHead1,
  .blockInfo2,
  .blockHead2,
  .blockInfo3,
  .blockHead3,
  .blockInfo4,
  .blockHead4 {
    margin-left: 30px;
    margin-right: 30px;
    color: var(--color-text);
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    font-size: 18px;
  }
  .servicesBlock1 {
    min-height: 30vh;
  }
  .servicesBlock2 {
    min-height: 30vh;
  }
  .servicesBlock4 {
    margin-bottom: 100px;
  }
  .twoBlocksContainer {
    display: block;
    justify-content: space-between;
    gap: 35px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    margin-top: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .servicesContainerMain {
    width: 90%;
  }

  .servicesBlock1,
  .servicesBlock2,
  .servicesBlock3,
  .servicesBlock4 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .servicesContainer {
    background: var(--gradient-bg4);
    min-height: 170vh;
  }
  .blockInfo1,
  .blockHead1,
  .blockInfo2,
  .blockHead2,
  .blockInfo3,
  .blockHead3,
  .blockInfo4,
  .blockHead4 {
    margin-left: 30px;
    margin-right: 30px;
    color: var(--color-text);
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    margin-top: 10px;

    font-size: 17px;
  }
  .servicesBlock1 {
    min-height: 40vh;
  }
  .servicesBlock2 {
    min-height: 40vh;
  }
  .servicesBlock3 {
    min-height: 30vh;
  }
  .servicesBlock4 {
    margin-bottom: 10vh;
  }
  .twoBlocksContainer {
    display: block;
    justify-content: space-between;
    gap: 35px;
  }
}
@media (max-width: 480px) {
  .servicesContainerMain {
    min-height: 180vh;
    width: 90%;
  }

  .servicesBlock1,
  .servicesBlock2,
  .servicesBlock3,
  .servicesBlock4 {
    width: 100%;
  }
  .servicesInfo h1 {
    font-size: 2.5em;
  }
  .servicesInfo p {
    font-size: 1.2em;
  }
  .blockInfo1,
  .blockHead1,
  .blockInfo2,
  .blockHead2,
  .blockInfo3,
  .blockHead3,
  .blockInfo4,
  .blockHead4 {
    margin-left: 20px;
    margin-right: 20px;
    color: var(--color-text);
  }
  .blockHead1,
  .blockHead2,
  .blockHead3,
  .blockHead4 {
    font-size: 26px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    font-size: 15px;
    margin-bottom: 200px;
  }
  .servicesBlock1 {
    min-height: 30vh;
  }
  .servicesBlock2 {
    min-height: 300px;
  }
  .servicesBlock3 {
    min-height: 30vh;
  }
  .servicesBlock4 {
    max-height: 30vh;
    margin-bottom: 10vh;
  }
}
@media (max-height: 600px) {
  .servicesBlock2 {
    min-height: 70vh;
  }
  .servicesBlock1 {
    min-height: 60vh;
  }
  .servicesBlock3 {
    min-height: 50vh;
  }
  .servicesBlock4 {
    margin-bottom: 20vh;
  }
  .servicesContainer {
    min-height: 1000vh;
  }
  .servicesInfo h1 {
    font-size: 2em;
  }
  .servicesInfo p {
    font-size: 1.2em;
  }
}

@media (min-height: 1000px) {
  .servicesContainer {
    padding: 5vh 0;
  }

  .blockInfo1,
  .blockInfo4 {
    margin-bottom: 5vh;
  }
}

@media (max-aspect-ratio: 0.75) {
  .servicesContainer {
    min-height: 120dvh;
  }
}
