.servicesContainer {
  background: var(--gradient-bg4);
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}
.servicesContainerMain {
  width: 80%;
}
.servicesInfo h1 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 60px;
  color: var(--color-text);
}
.servicesInfo p {
  margin-top: 35px;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-text2);
}

.servicesBlock1,
.servicesBlock4 {
  margin-top: 35px;
  width: 100%;
  min-height: 300px;
  border-radius: 50px;
  background: var(--gradient-bg2);
  color: var(--color-text);
  display: flex;
  flex-wrap: wrap;
}
.servicesBlock4 {
  margin-bottom: 10vh;
}
.servicesBlock2,
.servicesBlock3 {
  height: 220px;
  margin-top: 35px;
  max-height: 400px;
  border-radius: 50px;
  background: var(--gradient-bg2);
  color: var(--color-text);
}

.blockHead1,
.blockHead2,
.blockHead3,
.blockHead4 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
}
.blockHead2,
.blockHead3 {
  padding-top: 35px;
}
.blockInfo1,
.blockInfo4 {
  margin-top: 35px;
  margin-bottom: 50px;
  font-size: 22px;
  width: 1400px;
  height: 135px;
}
.blockInfo2,
.blockInfo3 {
  width: 90%;
  margin-right: 20px;
  margin-top: 35px;
  font-size: 22px;
}
.blockInfo1,
.blockHead1,
.blockInfo2,
.blockHead2,
.blockInfo3,
.blockHead3,
.blockInfo4,
.blockHead4 {
  margin-left: 60px;
}
@media (min-width: 1025px) and (max-width: 1581px) {
  .servicesContainerMain {
    width: 90%;
  }
  .servicesContainer {
    min-height: 160vh;
    width: 100%;
  }
  .blockInfo1,
  .blockHead1,
  .blockInfo2,
  .blockHead2,
  .blockInfo3,
  .blockHead3,
  .blockInfo4,
  .blockHead4 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .blockHead1,
  .blockHead2,
  .blockHead3,
  .blockHead4 {
    font-size: 26px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    font-size: 20px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    margin-top: 10px;
  }
  .servicesBlock2 {
    min-height: 20vh;
  }
  .servicesBlock1 {
    min-height: 10vh;
  }
  .servicesBlock4 {
    min-height: 20vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .servicesContainerMain {
    min-height: 150vh;
    width: 90%;
  }

  .servicesContainer {
    background: var(--gradient-bg4);
    min-height: 150vh;
  }
  .blockInfo1,
  .blockHead1,
  .blockInfo2,
  .blockHead2,
  .blockInfo3,
  .blockHead3,
  .blockInfo4,
  .blockHead4 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    font-size: 18px;
  }
  .servicesBlock1 {
    min-height: 30vh;
  }
  .servicesBlock2 {
    min-height: 30vh;
  }
  .servicesBlock4 {
    margin-bottom: 100px;
  }
  .twoBlocksContainer {
    display: block;
    justify-content: space-between;
    gap: 35px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    margin-top: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .servicesContainerMain {
    width: 90%;
  }

  .servicesBlock1,
  .servicesBlock2,
  .servicesBlock3,
  .servicesBlock4 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .servicesContainer {
    background: var(--gradient-bg4);
    min-height: 170vh;
  }
  .blockInfo1,
  .blockHead1,
  .blockInfo2,
  .blockHead2,
  .blockInfo3,
  .blockHead3,
  .blockInfo4,
  .blockHead4 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .blockHead2,
  .blockHead3 {
    margin-top: 0px;
  }

  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    font-size: 17px;
  }
  .servicesBlock1 {
    min-height: 40vh;
  }
  .servicesBlock2 {
    min-height: 40vh;
  }
  .servicesBlock3 {
    min-height: 30vh;
  }
  .servicesBlock4 {
    margin-bottom: 10vh;
  }
  .twoBlocksContainer {
    display: block;
    justify-content: space-between;
    gap: 35px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .servicesContainerMain {
    min-height: 170vh;
    width: 90%;
  }

  .servicesBlock1,
  .servicesBlock2,
  .servicesBlock3,
  .servicesBlock4 {
    width: 100%;
  }
  .blockInfo1,
  .blockHead1,
  .blockInfo2,
  .blockHead2,
  .blockInfo3,
  .blockHead3,
  .blockInfo4,
  .blockHead4 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .blockHead1,
  .blockHead2,
  .blockHead3,
  .blockHead4 {
    font-size: 26px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    font-size: 15px;
  }
  .servicesBlock1 {
    max-height: 30vh;
  }
  .servicesBlock2 {
    min-height: 50vh;
  }
  .servicesBlock3 {
    max-height: 500px;
  }
  .servicesBlock4 {
    max-height: 30vh;
    margin-bottom: 10vh;
  }
  .twoBlocksContainer {
    display: block;
    justify-content: space-between;
    gap: 35px;
  }
  .blockInfo1,
  .blockInfo2,
  .blockInfo3,
  .blockInfo4 {
    margin-bottom: 200px;
  }
}
@media (max-height: 600px) {
  .servicesBlock1,
  .servicesBlock4 {
    padding: 1rem 0;
  }
}

@media (min-height: 1000px) {
  .servicesContainer {
    padding: 5vh 0;
  }

  .blockInfo1,
  .blockInfo4 {
    margin-bottom: 5vh;
  }
}

/* Вертикальные устройства */
@media (max-aspect-ratio: 0.75) {
  .servicesContainer {
    min-height: 120dvh;
  }
}
