.info_container {
  height: 650px;
  background: var(--color-bg);
  display: flex;
  justify-content: center;
}
.info_company {
  width: 80%;
}
.info_company_text p {
  width: 65%;
  margin-top: 150px;
  font-size: 24px;
  color: var(--color-text);
}
.info_company_numbers {
  display: flex;
  margin-top: 150px;
}
.info_stat h1 {
  width: 90%;
  color: var(--color-numbers);
  font-size: 70px;
  font-weight: 700;
}
.info_forth {
  margin-right: -150px;
}
.info_stat p {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  color: var(--color-text2);
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 481px) and (max-width: 768px) {
  .info_container {
    height: 1200px;
  }
  .info_company_numbers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .info_stat {
    margin-top: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .info_container {
    height: 1200px;
  }
  .info_company_numbers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .info_stat {
    margin-top: 40px;
  }
  .info_forth {
    margin-right: 0px;
  }
}
