.portfolio_container {
  min-height: 750px;
  background: var(--color-bg2);
  display: flex;
  justify-content: center;
}
.portfolio_container_main {
  width: 80%;
}
.portfolio_main {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.portfolio_images {
  margin: 10px;
  max-width: 550px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  border-radius: 50px;
  transition: border 0.1s ease, border-radius 0.5s ease;
}
.portfolio_main_text p {
  width: 70%;
}
.portfolio_images:hover {
  border: 3px solid var(--color-text2);
  border-radius: 40px;
}
.portfolio_main_text {
  margin-top: 35px;
  color: var(--color-text);
}
.portfolio_head h1 {
  margin-top: 100px;
  font-size: 60px;
  font-weight: 700;
  color: var(--color-text);
}
.portfolio_head h3 {
  margin-top: 35px;
  font-weight: 500;
  color: var(--color-text2);
}
.portfolio_main_text ul {
  margin: 20px;
  margin-left: 40px;
}
.portfolio_main_text li {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
}
.portfolio_main_text p {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
}

@media (min-width: 481px) and (max-width: 768px) {
  .quest_container {
    height: 1000px;
  }
  .portfolio_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio_container_main {
    width: 90%;
  }
  .portfolio_images {
    width: 90%;
    height: auto;
    border-radius: 30px;
    margin-top: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .info_container {
    height: 800px;
  }
  .portfolio_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .portfolio_container_main {
    width: 90%;
  }
  .portfolio_images {
    width: 500px;
    height: auto;
    border-radius: 30px;
    margin-top: 35px;
  }
}
@media (max-width: 480px) {
  .quest_container {
    height: 200vh;
  }
  .portfolio_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .portfolio_main_text p {
    font-size: 16px;
  }
  .portfolio_main_text li {
    font-size: 16px;
  }
  .portfolio_container_main {
    width: 90%;
  }
  .portfolio_images {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    border-radius: 30px;
    margin-top: 20px;
  }
  .portfolio_head h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1025px) {
  .quest_container {
    height: 1100px;
  }
  .portfolio_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio_container_main {
    width: 90%;
  }
  .portfolio_images {
    width: 90%;
    height:auto;
    border-radius: 30px;
    margin-top: 35px;
  }
}
