.footer_container {
  min-height: 500px;
  background: var(--gradient-bg2);
  display: flex;
  align-items: end;
  justify-content: center;
}
.footer_left_info img {
  width: 50px;
}
.footer_main {
  margin-bottom: 100px;
  color: var(--color-text);
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.footer_left_info h3 {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 400;
}
.footer_left_info p {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 400;
}
.footer_info {
  margin-top: 50px;
}
.footer_social {
  margin-top: 35px;
}
@media (min-width: 481px) and (max-width: 1024px) {
  .footer_main {
    margin-top: 200px;
    color: var(--color-text);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
}
